{
    "plugins": [
        "prettier",
        "only-warn"
    ],
    "globals": {
        "alert": true,
        "document": true,
        "localStorage": true,
        "window": true
    },
    "extends": [
        "prettier",
        "airbnb",
        "plugin:prettier/recommended"
    ],
    "ignorePatterns": [
        "*.yml"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "requireConfigFile": false,
        "babelOptions": {
            "babelrc": false,
            "configFile": false,
            "presets": [
                "@babel/preset-env"
            ]
        }
    },
    "rules": {}
}
