services:
  rabbit:
    image: rabbitmq:4-management-alpine
    restart: unless-stopped
    networks:
      - app
      - frontend
    ports:
      - "15672"
    environment:
      - "RABBITMQ_DEFAULT_USER=user"
      - "RABBITMQ_DEFAULT_PASS=password"
      - "RABBITMQ_ERLANG_COOKIE=d53f319cd7376f8f840aaf9889f315ab"

  phpfpm:
    environment:
      - PHP_MEMORY_LIMIT=512M

  supervisor:
    image: itkdev/supervisor-php8.3:alpine
    restart: unless-stopped
    stop_grace_period: 20s
    environment:
      - APP_SUPERVISOR_COMMAND=/app/bin/console messenger:consume --env=prod --no-debug --time-limit=900 --failure-limit=1 async scheduler_default
      - APP_SUPERVISOR_WORKERS=1
      - APP_SUPERVISOR_USER=deploy
      # Sync job is rate limited by LeanTime API so it will take some time to complete.
      - PHP_MAX_EXECUTION_TIME=1800
      - PHP_MEMORY_LIMIT=512M
      - PHP_TIMEZONE=UTC
    networks:
      - app
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - .:/app
