services:
  rabbit:
    ports:
      - "5672:5672"
      - "15672:15672"
    image: rabbitmq:4-management-alpine
    restart: unless-stopped
    networks:
      - app
      - frontend
    environment:
      - "RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}"
      - "RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}"
      - "RABBITMQ_ERLANG_COOKIE=${RABBITMQ_ERLANG_COOKIE}"
    volumes:
      - ".docker/data/rabbitmq:/var/lib/rabbitmq/mnesia/"
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 1s
      timeout: 3s
      retries: 30

  phpfpm:
    environment:
      - PHP_MEMORY_LIMIT=512M

  node:
    image: node:20
    command: npm run watch
    networks:
      - app
    working_dir: /app
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/app
