services:
  rabbit:
    image: rabbitmq:4-management-alpine
    networks:
      - app
      - frontend
    ports:
      - "15672"
    environment:
      - "RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}"
      - "RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}"
      - "RABBITMQ_ERLANG_COOKIE=${RABBITMQ_ERLANG_COOKIE}"

  phpfpm:
    environment:
      - PHP_MEMORY_LIMIT=512M

  node:
    image: node:20
    command: npm run watch
    networks:
      - app
    working_dir: /app
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/app
