parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$groupedInvoices of method App\\Service\\ManagementReportService\:\:generateSpreadsheetCsvResponse\(\) expects array\<int, array\<int\|string, mixed\>\>, array\<int\|string, array\<int\|string, mixed\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/ManagementReportController.php

		-
			message: '#^Parameter \#1 \$started of method App\\Entity\\Worklog\:\:setStarted\(\) expects DateTimeInterface, DateTime\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: '#^Strict comparison using \=\=\= between null and string will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Parameter \#2 \$timestamp of function date expects int\|null, int\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/DashboardService.php

		-
			message: '#^Parameter \#1 \$timeSpentSeconds of method App\\Entity\\Worklog\:\:setTimeSpentSeconds\(\) expects int, float given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/DataProviderService.php

		-
			message: '#^Cannot call method format\(\) on DateTime\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/DateTimeHelper.php

		-
			message: '#^Call to an undefined method App\\Entity\\Epic\:\:getName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/ForecastReportService.php

		-
			message: '#^Parameter \#1 \$projectId of class App\\Model\\Reports\\ForecastReportProjectData constructor expects string, int\<min, \-1\>\|int\<1, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/ForecastReportService.php

		-
			message: '#^Parameter \#1 \$key of method Doctrine\\Common\\Collections\\ArrayCollection\<string,float\>\:\:set\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/InvoicingRateReportService.php

		-
			message: '#^Parameter \#2 \$value of method Doctrine\\Common\\Collections\\ArrayCollection\<string,array\<string, mixed\>\>\:\:set\(\) expects array\<string, mixed\>, array\<int, array\<string, mixed\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/InvoicingRateReportService.php

		-
			message: '#^Access to an undefined property object\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$dueDate\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$hours\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$id\.$#'
			identifier: property.notFound
			count: 5
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$kind\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$milestoneId\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$modified\.$#'
			identifier: property.notFound
			count: 4
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$name\.$#'
			identifier: property.notFound
			count: 4
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$plannedHours\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$projectId\.$#'
			identifier: property.notFound
			count: 2
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$remainingHours\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$resolutionDate\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$results\.$#'
			identifier: property.notFound
			count: 2
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$resultsCount\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$tags\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$ticketId\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$username\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$workDate\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$worker\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Match arm comparison between ''timesheets'' and ''timesheets'' is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Parameter \#2 \$week of method App\\Service\\PlanningService\:\:processIssuesForWeek\(\) expects int, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/PlanningService.php

		-
			message: '#^Parameter \#1 \$key of method Doctrine\\Common\\Collections\\ArrayCollection\<string,float\>\:\:set\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/WorkloadReportService.php

		-
			message: '#^Cannot call method getProjectTrackerId\(\) on App\\Entity\\Project\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Service/DataProviderServiceTest.php

		-
			message: '#^Cannot call method getSourceDeletedDate\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Cannot call method getSourceDeletedDate\(\) on App\\Entity\\Project\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Cannot call method getSourceDeletedDate\(\) on App\\Entity\\Worklog\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Cannot call method getSourceModifiedDate\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Cannot call method getSourceModifiedDate\(\) on App\\Entity\\Project\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Cannot call method getSourceModifiedDate\(\) on App\\Entity\\Version\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Cannot call method getSourceModifiedDate\(\) on App\\Entity\\Worklog\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Cannot call method getTimestamp\(\) on DateTimeInterface\|null\.$#'
			identifier: method.nonObject
			count: 8
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#1 \$projectTrackerIssueId of method App\\Entity\\Worklog\:\:setProjectTrackerIssueId\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#1 \$started of method App\\Entity\\Worklog\:\:setStarted\(\) expects DateTimeInterface, DateTime\|false given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with PhpOffice\\PhpSpreadsheet\\Spreadsheet will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Service/ProjectBillingServiceTest.php

		-
			message: '#^Parameter \#1 \$invoiceIds of method App\\Service\\BillingService\:\:exportInvoicesToSpreadsheet\(\) expects array\<int, int\>, array\<int, int\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Service/ProjectBillingServiceTest.php

		-
			message: '#^Parameter \#1 \$project of method App\\Repository\\IssueRepository\:\:getClosedIssuesFromInterval\(\) expects App\\Entity\\Project, App\\Entity\\Project\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Service/ProjectBillingServiceTest.php

		-
			message: '#^Parameter \#1 \$projectBillingId of method App\\Service\\ProjectBillingService\:\:createProjectBilling\(\) expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Service/ProjectBillingServiceTest.php

		-
			message: '#^Parameter \#2 \$periodStart of method App\\Repository\\IssueRepository\:\:getClosedIssuesFromInterval\(\) expects DateTimeInterface, DateTimeInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Service/ProjectBillingServiceTest.php

		-
			message: '#^Parameter \#3 \$periodEnd of method App\\Repository\\IssueRepository\:\:getClosedIssuesFromInterval\(\) expects DateTimeInterface, DateTimeInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Service/ProjectBillingServiceTest.php
