parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$ids of method App\\Service\\BillingService\:\:generateSpreadsheetCsvResponse\(\) expects array\<int, int\>, array\<int, int\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/InvoiceController.php

		-
			message: '#^Parameter \#1 \$ids of method App\\Service\\BillingService\:\:generateSpreadsheetCsvResponse\(\) expects array\<int, int\>, list\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/InvoiceController.php

		-
			message: '#^Parameter \#1 \$ids of method App\\Service\\BillingService\:\:generateSpreadsheetHtml\(\) expects array\<int, int\>, array\<int, int\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/InvoiceController.php

		-
			message: '#^Cannot call method format\(\) on DateTimeInterface\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Controller/ManagementReportController.php

		-
			message: '#^Parameter \#1 \$groupedInvoices of method App\\Service\\ManagementReportService\:\:generateSpreadsheetCsvResponse\(\) expects array\<int, array\<int\|string, mixed\>\>, array\<int\|string, array\<int\|string, mixed\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/ManagementReportController.php

		-
			message: '#^Parameter \#1 \$ids of method App\\Service\\BillingService\:\:generateSpreadsheetCsvResponse\(\) expects array\<int, int\>, array\<int, int\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/ProjectBillingController.php

		-
			message: '#^Parameter \#1 \$ids of method App\\Service\\BillingService\:\:generateSpreadsheetHtml\(\) expects array\<int, int\>, array\<int, int\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/ProjectBillingController.php

		-
			message: '#^Parameter \#1 \$email of method App\\Repository\\SubscriptionRepository\:\:findByCustom\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/SubscriptionController.php

		-
			message: '#^Parameter \#1 \$userEmail of method App\\Controller\\SubscriptionController\:\:subscriptionHandler\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/SubscriptionController.php

		-
			message: '#^Parameter \#1 \$value of static method App\\Enum\\SubscriptionSubjectEnum\:\:tryFrom\(\) expects int\|string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/SubscriptionController.php

		-
			message: '#^Parameter \#1 \$started of method App\\Entity\\Worklog\:\:setStarted\(\) expects DateTimeInterface, DateTime\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: '#^Strict comparison using \=\=\= between null and string will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Method App\\Model\\Reports\\HourReportProjectTicket\:\:__construct\(\) has parameter \$headline with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Model/Reports/HourReportProjectTicket.php

		-
			message: '#^Method App\\Model\\Reports\\HourReportProjectTicket\:\:__construct\(\) has parameter \$id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Model/Reports/HourReportProjectTicket.php

		-
			message: '#^Method App\\Model\\Reports\\HourReportProjectTicket\:\:__construct\(\) has parameter \$linkToIssue with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Model/Reports/HourReportProjectTicket.php

		-
			message: '#^Method App\\Model\\Reports\\HourReportProjectTicket\:\:__construct\(\) has parameter \$projectTrackerId with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Model/Reports/HourReportProjectTicket.php

		-
			message: '#^Method App\\Model\\Reports\\HourReportProjectTicket\:\:__construct\(\) has parameter \$totalEstimated with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Model/Reports/HourReportProjectTicket.php

		-
			message: '#^Method App\\Model\\Reports\\HourReportProjectTicket\:\:__construct\(\) has parameter \$totalSpent with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Model/Reports/HourReportProjectTicket.php

		-
			message: '#^Cannot call method getLinkToIssue\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/BillableUnbilledHoursReportService.php

		-
			message: '#^Cannot call method getName\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/BillableUnbilledHoursReportService.php

		-
			message: '#^Cannot call method getName\(\) on App\\Entity\\Project\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/BillableUnbilledHoursReportService.php

		-
			message: '#^Cannot call method getProjectTrackerId\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/BillableUnbilledHoursReportService.php

		-
			message: '#^Parameter \#2 \$timestamp of function date expects int\|null, int\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/DashboardService.php

		-
			message: '#^Parameter \#1 \$timeSpentSeconds of method App\\Entity\\Worklog\:\:setTimeSpentSeconds\(\) expects int, float given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/DataProviderService.php

		-
			message: '#^Cannot call method format\(\) on DateTime\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/DateTimeHelper.php

		-
			message: '#^Call to an undefined method App\\Entity\\Epic\:\:getName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Service/ForecastReportService.php

		-
			message: '#^Cannot call method getEpics\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Service/ForecastReportService.php

		-
			message: '#^Cannot call method getId\(\) on App\\Entity\\Project\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/ForecastReportService.php

		-
			message: '#^Cannot call method getLinkToIssue\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/ForecastReportService.php

		-
			message: '#^Cannot call method getProjectTrackerKey\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/ForecastReportService.php

		-
			message: '#^Cannot call method getVersions\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Service/ForecastReportService.php

		-
			message: '#^Parameter \#1 \$projectId of class App\\Model\\Reports\\ForecastReportProjectData constructor expects string, int\<min, \-1\>\|int\<1, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/ForecastReportService.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, Doctrine\\Common\\Collections\\Collection\<int, App\\Entity\\Epic\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/ForecastReportService.php

		-
			message: '#^Cannot call method getLinkToIssue\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Service/InvoicingRateReportService.php

		-
			message: '#^Cannot call method getName\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Service/InvoicingRateReportService.php

		-
			message: '#^Cannot call method getName\(\) on App\\Entity\\Project\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Service/InvoicingRateReportService.php

		-
			message: '#^Cannot call method getProjectTrackerId\(\) on App\\Entity\\Issue\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Service/InvoicingRateReportService.php

		-
			message: '#^Parameter \#1 \$key of method Doctrine\\Common\\Collections\\ArrayCollection\<string,float\>\:\:set\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/InvoicingRateReportService.php

		-
			message: '#^Parameter \#2 \$value of method Doctrine\\Common\\Collections\\ArrayCollection\<string,array\<string, mixed\>\>\:\:set\(\) expects array\<string, mixed\>, array\<int, array\<string, mixed\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/InvoicingRateReportService.php

		-
			message: '#^Access to an undefined property object\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$dueDate\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$hours\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$id\.$#'
			identifier: property.notFound
			count: 5
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$kind\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$milestoneId\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$modified\.$#'
			identifier: property.notFound
			count: 4
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$name\.$#'
			identifier: property.notFound
			count: 4
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$plannedHours\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$projectId\.$#'
			identifier: property.notFound
			count: 2
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$remainingHours\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$resolutionDate\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$results\.$#'
			identifier: property.notFound
			count: 2
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$resultsCount\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$tags\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$ticketId\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$username\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$workDate\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Access to an undefined property object\:\:\$worker\.$#'
			identifier: property.notFound
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Match arm comparison between ''timesheets'' and ''timesheets'' is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Parameter \#1 \$dataProviderId of class App\\Message\\LeantimeDeleteMessage constructor expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Parameter \#4 \$dataProviderId of class App\\Message\\LeantimeUpdateMessage constructor expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/LeantimeApiService.php

		-
			message: '#^Parameter \#2 \$week of method App\\Service\\PlanningService\:\:processIssuesForWeek\(\) expects int, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/PlanningService.php

		-
			message: '#^Parameter \#1 \$key of method Doctrine\\Common\\Collections\\ArrayCollection\<string,float\>\:\:set\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/WorkloadReportService.php

		-
			message: '#^Parameter \#1 \$expected of method App\\Tests\\Service\\DanishHolidayHelperTest\:\:assertSameDate\(\) expects DateTimeInterface, DateTimeInterface\|null given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Service/DanishHolidayHelperTest.php

		-
			message: '#^Call to an undefined method object\:\:clear\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Service/DataProviderServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:findOneBy\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Service/DataProviderServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:flush\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Service/DataProviderServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:persist\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: tests/Service/DataProviderServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:upsertIssue\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Service/DataProviderServiceTest.php

		-
			message: '#^Cannot call method getProjectTrackerId\(\) on App\\Entity\\Project\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Service/DataProviderServiceTest.php

		-
			message: '#^Parameter \$dataProviderId of class App\\Model\\DataProvider\\DataProviderIssueData constructor expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Service/DataProviderServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:clear\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:find\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:findAll\(\)\.$#'
			identifier: method.notFound
			count: 24
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:findOneBy\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:flush\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:persist\(\)\.$#'
			identifier: method.notFound
			count: 12
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#1 \$dataProviderId of method App\\Service\\LeantimeApiService\:\:deleteAsJob\(\) expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#1 \$projectTrackerId of method App\\Entity\\Issue\:\:setProjectTrackerId\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#1 \$projectTrackerId of method App\\Entity\\Project\:\:setProjectTrackerId\(\) expects string\|null, int given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#1 \$projectTrackerId of method App\\Entity\\Version\:\:setProjectTrackerId\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#1 \$projectTrackerIssueId of method App\\Entity\\Worklog\:\:setProjectTrackerIssueId\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#1 \$projectTrackerKey of method App\\Entity\\Issue\:\:setProjectTrackerKey\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#1 \$projectTrackerKey of method App\\Entity\\Project\:\:setProjectTrackerKey\(\) expects string\|null, int given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#1 \$started of method App\\Entity\\Worklog\:\:setStarted\(\) expects DateTimeInterface, DateTime\|false given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#2 \$messageBus of class App\\Service\\LeantimeApiService constructor expects Symfony\\Component\\Messenger\\MessageBusInterface, object given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#3 \$dataProviderRepository of class App\\Service\\LeantimeApiService constructor expects App\\Repository\\DataProviderRepository, object given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#4 \$dataProviderId of method App\\Service\\LeantimeApiService\:\:updateAsJob\(\) expects int, int\|null given\.$#'
			identifier: argument.type
			count: 8
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#4 \$entityManager of class App\\Service\\LeantimeApiService constructor expects Doctrine\\ORM\\EntityManagerInterface, object given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Parameter \#5 \$projectRepository of class App\\Service\\LeantimeApiService constructor expects App\\Repository\\ProjectRepository, object given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Service/LeantimeApiServiceTest.php

		-
			message: '#^Call to an undefined method App\\Service\\BillingService\:\:createProjectBilling\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Service/ProjectBillingServiceTest.php

		-
			message: '#^Call to an undefined method App\\Service\\BillingService\:\:getIssuesNotIncludedInProjectBilling\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Service/ProjectBillingServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:exportInvoicesToSpreadsheet\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Service/ProjectBillingServiceTest.php

		-
			message: '#^Call to an undefined method object\:\:getClosedIssuesFromInterval\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Service/ProjectBillingServiceTest.php

		-
			message: '#^Parameter \#2 \$timestamp of function date expects int\|null, int\|false given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Service/WorkloadReportServiceTest.php
