{% extends 'base.html.twig' %}

{% block title %}New ServiceAgreement{% endblock %}

{% block body %}
    <h1>Create new ServiceAgreement</h1>

    {{ include('service_agreement/_form.html.twig') }}

    <a href="{{ path('app_service_agreement_index') }}">back to list</a>
{% endblock %}
