{% extends 'base.html.twig' %}

{% block title %}
  {{ 'create_project_form.title'|trans }}
{% endblock %}

{% block content %}
  <h1 class="page-title">{{ 'create_project_form.title'|trans }}</h1>

  <div {{ stimulus_controller('create-project') }}>
    {{ form(form) }}
  </div>
{% endblock %}
