{% extends 'base.html.twig' %}

{% block title %}{{ 'sprint_report.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ 'sprint_report.title'|trans }}</h1>
{% endblock %}

