<form method="post" action="{{ path('app_invoices_delete', {id: invoice.id}) }}" onsubmit="return confirm('{{ 'delete.confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice.id) }}">
    <button class="button button-danger">{{ 'invoices.action_delete'|trans }}</button>
</form>
