{% extends 'base.html.twig' %}

{% block title %}
  {{ 'PAGE'|trans }}
{% endblock %}

{% block content %}
  <h1 class="page-title">{{ 'invoices.title'|trans }}</h1>
  <div {{ react_component('MyComponent', { 'fullName': "World, in react from twig in symfony" }) }}></div>
{% endblock %}
