<form method="post" action="{{ path('app_invoice_entry_delete', {view: view, 'id': invoice_entry.id, 'invoice': invoice.id}) }}" onsubmit="return confirm('{{ 'delete.confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice_entry.id) }}">
    <button class="button button-danger">{{ 'invoices.action_delete_invoice_entry'|trans }}</button>
</form>
