@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .body {
        @apply bg-white text-black dark:bg-gray-900 dark:text-white;
    }

    select {
        @apply cursor-pointer;
    }

    .navigation-title {
        @apply self-center text-xl font-semibold whitespace-nowrap dark:text-white;
    }

    .label {
        @apply block mb-1 text-sm font-medium text-gray-900 dark:text-white;
    }

    .link {
        @apply font-medium text-blue-600 dark:text-blue-500 hover:underline;
    }

    .button {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
    }

    .button-danger {
        @apply bg-red-600 hover:bg-red-700 focus:ring-red-400;
    }

    .button-warning {
        @apply bg-amber-600 hover:bg-amber-700 focus:ring-amber-400;
    }

    .button-green {
        @apply bg-green-600 hover:bg-green-700 focus:ring-green-400;
    }

    .button.form-element {
        @apply w-28 text-white bg-blue-700 border-blue-700 hover:bg-blue-800 hover:border-blue-800  dark:bg-blue-600 dark:hover:bg-blue-700 dark:border-blue-600 dark:hover:border-blue-700 focus:outline-none dark:focus:ring-blue-800
    }

    .bottom-actions {
        @apply p-5 m-5 text-right flex items-center space-x-5 justify-end;
    }

    .actions-right {
        @apply mt-5 text-right flex items-center space-x-5 justify-end;
    }

    .info-block {
        @apply mr-5 mb-3;
    }

    .text-bold {
        @apply font-bold;
    }

    .text-faded {
        @apply text-gray-800/75 dark:text-gray-200/75;
    }

    .grid-split {
        @apply grid gap-12 md:grid-cols-2;
    }

    .grid-split-2 {
        @apply grid md:grid-cols-2 gap-4;
    }

    .list-group {
        @apply w-full p-4 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white;
    }

    .margin-bottom {
        @apply mb-5;
    }

    .list-group-item {
        @apply w-full px-4 py-2;
    }

    .border-bottom {
        @apply border-b border-gray-500;
    }

    .btn-primary {
        @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }

    .btn-success {
        @apply py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75;
    }

    .btn-error {
        @apply py-2 px-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
    }

    .btn-disabled {
        @apply bg-gray-500 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed;
    }

    .form-label {
        @apply block mt-2 mb-2 text-sm font-medium text-blue-900 dark:text-gray-900;
    }

    .form-row {
        @apply mb-4;
    }

    .form-element {
        resize: none;
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-1;
    }

    .help-text {
        @apply text-gray-800/75 dark:text-gray-200/75 font-light text-xs;
    }

    .form-checkbox {
        @apply w-4 h-4 border border-gray-300 rounded bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800;
    }

    .form-element-wrapper {
        @apply mb-4;
    }

    .form-help {
        @apply mt-2 text-sm text-gray-500 dark:text-gray-400;
    }

    .page-title {
        @apply my-6 text-4xl font-bold leading-none tracking-tight text-gray-800 md:text-5xl lg:text-6xl dark:text-white;
    }

    .hidden {
        @apply invisible;
    }

    #sprint_report {
        @apply grid gap-3 mb-6 md:grid-cols-4;
    }

    #hour_report {
        @apply grid gap-3 mb-6 md:grid-cols-6;
    }

    .form-default {
        @apply grid gap-3 mb-6 md:grid-cols-6;
    }

    .form-default > div {
        @apply flex flex-col justify-end;
    }

    #sprint_report > div, #hour_report > div {
        @apply flex flex-col;
    }

    .worklogs-filter-form {
        @apply grid gap-3 mb-6 md:grid-cols-4;
    }
    .action-button > span:not(.hidden) > svg,
    .subscribe-button > span:not(.hidden) > svg {
        margin: auto;
        animation: spin 2s linear infinite
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .choices__list--dropdown .choices__item--selectable {
        padding: 1em !important;
    }

    .subheading {
        @apply font-medium leading-tight text-2xl mt-5 mb-5;
    }
    .hour-report-submit {
        @apply mt-6;
    }
    .label.required::after {
        content: '*';
        @apply text-red-500 ml-1;
    }
    /*
    ** Alerts
    */

    .alert-info {
        @apply p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-300 dark:border-blue-800;
    }

    .alert-warning {
        @apply p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800;
    }

    .alert-danger {
        @apply p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800;
    }

    /*
    ** Tables
    */

    .table-export td, .table-export tr {
        border: 1px solid gray;
        padding: 5px;
    }

    .table {
        @apply w-full text-sm text-left border-collapse;
    }

    .table-th {
        @apply px-6 py-3 text-xs uppercase text-gray-700 dark:text-gray-400  border-b border-gray-500 dark:border-gray-300;
    }

    .table-td {
        @apply px-6 py-4;
    }

    .table-tr {
        @apply  border-b border-gray-300 dark:border-gray-600;
    }

    .table-tr-alt {
        @apply bg-gray-50 dark:bg-gray-800 border-b border-gray-300 dark:border-gray-600;
    }

    .table-tr-disabled {
        @apply text-gray-500 dark:text-gray-300 bg-gray-300 dark:bg-gray-600;
    }

    .table-tr-disabled-alt {
        @apply bg-amber-500/75 border-amber-600/75 border-b dark:bg-amber-500/75 dark:border-amber-400/75 text-white;
    }

    /*
    ** Pagination
    */

    .pagination-ul {
        @apply inline-flex -space-x-px;
    }

    .pagination-ul li:first-child a {
        @apply rounded-l-lg;
    }

    .pagination-ul li:last-child a {
        @apply rounded-r-lg;
    }

    .pagination-item {
        @apply px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
    }

    .pagination-current {
        @apply px-3 py-2 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
    }

    .sorted {
        @apply underline;
    }

    .card {
        @apply max-w-sm p-6 bg-white border border-gray-300 rounded-lg dark:bg-gray-800 dark:border-gray-700;
    }

    .card-header {
        @apply mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white;
    }

    .card-text {
        @apply mb-3 font-normal text-gray-700 dark:text-gray-400;
    }

    .card-link {
        @apply inline-flex place-content-center px-3 py-2 pb-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
    }

    .grid-split-three {
        @apply grid gap-12 md:grid-cols-3;
    }

    .form-choices .choices {
        @apply m-0;
    }

    .form-choices .choices__inner {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-1
    }

    .form-choices .choices__list--single {
        @apply p-0;
    }

    .form-choices .choices__list--dropdown.is-active {
        @apply text-white bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    .form-choices input.choices__input.choices__input--cloned {
        @apply text-white bg-gray-50 border border-gray-300 text-gray-900 text-sm dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
    }

    .form-choices .choices[data-type*=select-one]::after {
        @apply dark:border-t-gray-500;
    }

    .toggle-text {
        @apply ml-3 text-sm font-medium text-gray-900 dark:text-gray-300;
    }

    .toggle-label {
        @apply relative inline-flex items-center cursor-pointer;
    }

    .selections .choices__list .choices__input {
        @apply text-black dark:text-white;
    }

    .selections .choices__inner,
    .selections .choices__list {
        @apply dark:bg-gray-700 dark:text-white bg-gray-50 text-black;
    }

    .selections .choices.is-disabled .choices__inner,
    .selections .choices.is-disabled .choices__list {
        @apply dark:bg-gray-600 dark:text-white bg-gray-50 text-black;
    }

    .selections .choices__item--choice {
        @apply dark:bg-gray-700 dark:text-white bg-gray-50 text-black;
    }

    .selections .choices__item.choices__item--choice.choices__item--selectable.is-highlighted {
        @apply dark:bg-gray-800 dark:text-white bg-gray-200 text-black;
    }



    .planning-svg {
        width: 16px;
    }

    .planning-hidden-svg {
        width: 16px;
        display: inline-block;
        margin-left: 10px;
    }

    .sprint-report-input {
        background-color: transparent;
        min-width: 200px;
    }

    .table-td-heading {
        font-weight: bold;
    }

    .sprint-report-form .choices {
        width: 300px;
    }

    .sprint-report-form {
        @apply flex gap-3 mb-3;
    }

    .planning-form {
        @apply flex gap-3 mb-3;
    }

    .sticky-row {
        @apply sticky bg-white text-black dark:bg-gray-900 dark:text-white border-0 bottom-0;
    }

    .comma-list span:after {
        content: ","
    }

    .comma-list span:last-child:after {
        content: ""
    }

    /*
    ** Navigation
    */

    .navigation-item {
        @apply flex items-center p-2 text-base font-normal rounded-lg hover:bg-gray-100 hover:dark:bg-gray-500 cursor-pointer;
    }

    .navigation-item.current {
        @apply  bg-gray-100 dark:bg-gray-500 text-gray-600 dark:text-gray-900;
    }

    .navigation-item + .navigation-item-submenu {
        @apply hidden overflow-hidden;
    }

    .navigation-item-submenu.shown {
        @apply flex flex-col visible pt-1 gap-y-1 pl-5;
    }

    .collapsible:has(+ .navigation-item-submenu):after {
        content: '▲';
        @apply pr-4 text-xs;
    }

    .collapsible:has(+ .navigation-item-submenu.shown):after {
        content: '▼';
        @apply pr-4 text-xs;
    }

    .loading {
        position: relative;
    }

    .loading::before {
        content: '';
        z-index: 999;
        @apply bg-white dark:bg-gray-900 absolute w-full h-full top-0 left-0;
    }

    .loading::after {
        content: 'Loading...';
        @apply text-white absolute top-0 left-0;
        z-index: 9999;
        left: 0;
    }

    .sprint-report-table-tr-underline {
        border-bottom: 1px solid;
    }

    .subscribe-button:not([data-frequencies]):before,
    .subscribe-button[data-frequencies='']:before {
        display: none;
    }
    .subscribe-button:before {
        content: 'Subscribed ' attr(data-frequencies);
        color: rgb(255 255 255 / var(--tw-text-opacity));
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        font-size: 14px;
        text-align: right;
        pointer-events: none;
    }
    .subscribe-button svg {
        display: inline-block;
    }
    .subscription-details {
        @apply w-80;
    }
    .subscription-details div {
        @apply flex justify-between mb-1;
    }
    .subscription-details div span:last-child {
        @apply text-right;
        max-width: 200px;
    }
}
