<form method="post" action="{{ path('app_project_billing_delete', {'id': projectBilling.id}|merge(view is defined ? {view: view} : {})) }}" onsubmit="return confirm('{{ 'delete.confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projectBilling.id) }}">
    <button class="button button-danger">{{ 'project_billing.action_delete'|trans }}</button>
</form>
