{% extends 'base.html.twig' %}

{% set title = ('planning.titles.' ~ mode|default('users'))|trans %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class="page-title">{{ title }}</h1>

    {% if planningData is not null %}
        {% set weeks = planningData.weeks %}
        {% set assignees = planningData.assignees %}
        {% set projects = planningData.projects %}

        <div class="planning-wrapper loading" {{ stimulus_controller('loader') }}>
            {{ include('planning/' ~ mode|default('users') ~ '.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
