<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'title'|trans }}!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="body">
        <div class="container">
            <div class="flex flex-row flex-wrap py-4">
                {% include 'navigation.html.twig' %}
                <main role="main" class="w-full sm:w-2/3 md:w-3/4 pt-1 px-2">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>
