<aside class="w-full sm:w-1/3 md:w-1/4 px-2">
    <div class="sticky top-0 p-4 w-full">
        <a href="/" class="flex items-center mb-5">
            <img src="{{ asset('img/itk-economics.png') }}" class="h-6 ml-3 sm:h-9" alt="{{ 'navigation.title'|trans }}" />
        </a>
        <!-- navigation -->
        <ul class="flex flex-col overflow-hidden">
            {% include 'components/navigation-item.html.twig' with {icon: 'home', title: 'navigation.home'|trans, role: 'ROLE_USER', route: path('index')} %}
            {% include 'components/navigation-item.html.twig' with {icon: 'invoice', title: 'navigation.invoices'|trans, role: 'ROLE_INVOICE', route: path('app_invoices_index')} %}
            {% include 'components/navigation-item.html.twig' with {icon: 'project-billing', title: 'navigation.project_billing'|trans, role: 'ROLE_PROJECT_BILLING', route: path('app_project_billing_index')} %}
            {% include 'components/navigation-item.html.twig' with {icon: 'planning', title: 'navigation.planning'|trans, role: 'ROLE_PLANNING', route: path('app_planning')} %}
            {% include 'components/navigation-item.html.twig' with {icon: 'sprint-report', title: 'navigation.sprint_report'|trans, role: 'ROLE_SPRINT_REPORT', route: path('app_sprint_report')} %}
            {% include 'components/navigation-item.html.twig' with {icon: 'projects', title: 'navigation.projects'|trans, role: 'ROLE_ADMIN', route: path('app_project_index')} %}
            {% include 'components/navigation-item.html.twig' with {icon: 'client', title: 'navigation.client'|trans, role: 'ROLE_ADMIN', route: path('app_client_index')} %}
            {% include 'components/navigation-item.html.twig' with {icon: 'account', title: 'navigation.account'|trans, role: 'ROLE_ADMIN', route: path('app_account_index')} %}
            {% include 'components/navigation-item.html.twig' with {icon: 'user', title: 'navigation.user'|trans, role: 'ROLE_ADMIN', route: path('app_user_index')} %}
        </ul>
    </div>
</aside>
