<div class="mt-5 selections border-2 p-5 rounded-xl" {{ stimulus_controller('sync-button') }}>
    <select class="form-element" {{ stimulus_target('sync-button', 'select') }}></select>
    <button class="button" {{ stimulus_action('sync-button', 'submit') }}>Opdatér projekt</button>
</div>
