<div class="mt-5 selections pb-2 pt-5 px-5" {{ stimulus_controller('sync-status') }} data-status="{{ 'sync_status.status'|trans }}">
    <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: .25em">
        <span {{ stimulus_target('sync-status', 'status') }}></span>
    </div>
</div>
